
<Nav />

<div id="balloon-container">
    {{#each arrayOfHundred}}
        <div class="balloon" style="{{balloon-styles}}"></div>
    {{/each}}
</div>

<Photos />

<div class="container">
    {{!-- The following component displays Ember's default welcome message. --}}
    <Game />
</div>


<Contact />


